.div_class{
    text-align: center;
    font-family: initial;
    font-size: 30px;
    color: hotpink;
    text-shadow: 2px 2px greenyellow;
}

.para_class{
    text-align: end;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    text-shadow: -5px -5px darkgoldenrod;
}