<table border="1">

  <tr>
  <th>Book ID</th>
  <th>Book Title</th>
  <th>Book Year Of Publish</th>
  <th>Book Author</th>
  </tr>
  <tr>
  <td><input [value]='search' (input)='search=$event.target.value' /></td>
  <td><input [value]='search' (input)='search=$event.target.value' /></td>
  <td><input [value]='search' (input)='search=$event.target.value' /></td>
  <td><input [value]='search' (input)='search=$event.target.value' /></td>
  </tr>

  <tr *ngFor="let book of books|searchPipe :search">
  <td>{{book.id}}</td>
  <td>{{book.title}}</td>
  <td>{{book.year}}</td>
  <td>{{book.author}}</td>
  </tr>
  </table>
